#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
/MentalstackTestTask/MentalstackTestTask/bin/Debug
/MentalstackTestTask/MentalstackTestTask.Common/bin/Debug
/MentalstackTestTask/MentalstackTestTask.DAL/bin/Debug
/MentalstackTestTask/MentalstackTestTask.Domain/bin/Debug
/MentalstackTestTask/MentalstackTestTask.Services/bin/Debug
/MentalstackTestTask/MentalstackTestTask/obj/Debug
/MentalstackTestTask/MentalstackTestTask.Common/obj/Debug
/MentalstackTestTask/MentalstackTestTask.DAL/obj/Debug
/MentalstackTestTask/MentalstackTestTask.Domain/obj/Debug
/MentalstackTestTask/MentalstackTestTask.Services/obj/Debug